<div class="col-sm-offset-1 col-sm-10">
        <div class="jumbotron">
            <h1>Number Converter</h1>
        </div>
        <div class="col-sm-offset-1 col-sm-6">
            <form class="form-inline" ng-submit="submit()">
                <div class="form-group">
                    <label for="input_number">Number</label>
                    <input type="text" class="form-control input-lg" id="input_number" ng-model="conversion.num"
                           placeholder="eg. 1023">
                </div>
                <button type="submit" id="submit" class="btn btn-info">Convert</button>
            </form>
        </div>
        <div class="col-sm-5 form-inline">
            <label for="result_box">Result</label>
            <input type="text" class="form-control input-lg" id="result_box" ng-model="conversion.result">
        </div>
</div>
